
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        background-color: rgb(173, 10, 10);
        padding: 0.5rem 0.5rem;
        color: whitesmoke;
        border-radius: 0.5rem;
        border: none;
    }

    button:active{
        scale: 0.95;
    }
}
